<%- include("partials/header.ejs") %>

<body>
  <h2>Challenge</h2>

  <h2>Our Solution:</h2>

  <h3>Data Processing</h3>
  <img
    id="histogram"
    class="profile"
    src="images/output.png"
    alt="cat profile"
  />
</body>
<h3>Classical Machine Learning</h3>
<h3>Deep Learning</h3>
<h3>Conclusion</h3>

<%- include("partials/footer.ejs") %>
