<%- include("partials/header.ejs") %>

<body>
  <h2>Challenge</h2>
  <p class="text"> 
    The internet has connected people through platforms that enable information
    exchange. To prevent hate and offensive speech, most platforms have
    community guidelines, moderation teams, and monitoring techniques. TikTok,
    for example, classifies content as restrictible (inappropriate for youth) or
    removable (violating policies). </br> 
    
  </br> Our goal is to create an AI-powered solution
    that effectively classifies content as normal, offensive, or hate speech. A
    key challenge is accurately identifying and categorizing text per TikTok's
    hate speech policy. The complexity of natural language, including sarcasm,
    slang, and cultural references, complicates this task.
  </p>
  <h2>Our Solution:</h2>

  <h3>Data Processing</h3>
  <img
    id="histogram"
    class="profile"
    src="images/output.png"
    alt="cat profile"
  />
</body>
<h3>Classical Machine Learning</h3>
<h3>Deep Learning</h3>
<h3>Conclusion</h3>

<%- include("partials/footer.ejs") %>
